.product-card {
    width: 95%;
    background-color: #151515;
    font-family: 'Gilroy';
    font-weight: 400;
    color: #B9B8B8;
    font-size: 16px;
    border-radius: 10px;
    overflow: visible;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.image-container {
    width: 100%;
    position: relative;
    transition: height 0.3s ease;
    height: 45%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #222222;
}

.image-container.expanded {
    width: 0px;
    height: 0px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo-upload-button {
    position:absolute;
    margin-right: 32%;
    margin-bottom: 15%;
    bottom: 10px;
    right: 10px;
    background-color: #222222;
    border: none;
    border-radius: 50%;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    
}

.photo-upload-button:hover {
    background-color: rgb(23, 23, 23); /* Zwiększa przezroczystość na hover */
}

.svg-photo-add {
    width: 48px;
    height: 48px;
    fill: #a618e3; /* Kolor ikony */
}

.project-info {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    transition: margin-top 0.3s ease;
}

.project-info.expanded {
    margin-top: 0;
}

.project-title {
    margin: 0;
    font-size: 20px;
    text-align: left;
   
}


.project-tag-input {
    background-color: #753476;
    color: #FFFFFF;
    width:fit-content;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 12px;
    border: none;
    outline: none;
    direction: ltr; /* Wymusza kierunek tekstu od lewej do prawej */
}

.expand-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}



.project-title-input {
    width: 100%;
    font-family: 'Gilroy';
    font-weight: 300;
    line-height: 1.6;
    font-size: 18px;
    color:#B9B8B8;
    background-color: #151515;
    font-size: 1.5em;
    border: none;
    outline: none;
    text-align: left; /* Tekst wyrównany do lewej */
    direction: ltr; /* Wymusza kierunek tekstu od lewej do prawej */
}

.project-description-textarea {
    width: 100%;
    margin-top: 3px;
    font-family: 'Gilroy';
    font-weight: 300;
    line-height: 1.6;
    font-size: 16px;
    color:#B9B8B8;
    background-color: #151515;
    border: none;
    outline: none;
    text-align: left; /* Tekst wyrównany do lewej */
    direction: ltr; /* Wymusza kierunek tekstu od lewej do prawej */
}


.project-description {
    font-family: 'Gilroy';
    font-weight: 300;
    line-height: 1.6;
    font-size: 16px;
    margin-top: 10px;
}

.project-details {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 12px;
}

.priority-icon-card{
    margin-top: none;
}

.detail-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 6px;
    position: relative;
}

.dropdown-content {
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 25px;
    background-color: #0A0A0A;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    width: 200px;
    margin-bottom: 5px;
    transition: opacity 0.3s ease;
}

.dropdown-content.visible {
    width: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    visibility: visible;
    opacity: 1;
    gap: 10px;
    margin-bottom: 10px;
}

#attachment-upload {

    background-color: #151515;
    color:#B9B8B8;


}
.file {

    background-color: #009EE2;
    color:#B9B8B8;
}

#start-date, #due-date{

    background-color: #0C0E0D;
    color:#B9B8B8;
    border: none;
}
