body {
    background-color: #0C0E0D;
    height: 100vh;
    margin: 0;
    position: relative;
}

.boa-container-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 20%; /* Szerokość paska bocznego */
    background-color: #0C0E0D;
    border-right: 1px solid #565656;
}

.boa-container {
    flex-grow: 1; /* Zajmuje resztę dostępnej przestrzeni */
    display: flex;
    flex-direction: column;
    background-color: #0C0E0D;
}

.boa-board-content {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    height: 100%; /* Pełna wysokość dostępnej przestrzeni */
}

.boa-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #0C0E0D;
    border-left: 1px solid #565656; /* Usunięcie odstępu między kolumnami */
    height: 100%; /* Pełna wysokość dostępnej przestrzeni */
}

.boa-list:last-child {
    margin-right: 0;
}

.boa-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy';
    background: #0C0E0D;
    padding: 15px;
}
.boa-tasks {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.boa-list-header h3 {
    margin: 0;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 18px;
    color: #B9B8B8;
}

.add-list, .more-options {
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 30px;
    color: #B9B8B8;
    background: #0C0E0D;
    border: none;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .boa-board-content {
        flex-direction: column;
        width: 100%;
    }

    .boa-list {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .boa-list:last-child {
        margin-bottom: 0;
    }
}
