* {
    box-sizing: border-box;
}

body {
    background-color: #0C0E0D;
    height: 100vh;
    margin: 0;
    position: relative;
}

/*Menu*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0C0E0D;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    color:#FFFBDA;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 42px;
    margin-right: 20px;
}

.menu {
    display: flex;
    gap: 28px;
}

.menu a {
    text-decoration: none;
    font-family: 'Gilroy';
    font-weight: normal;
    color: #908F8F;
    font-size: 20px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 8px 34px;
    border-radius: 36px;
    cursor: pointer;
}

.login-button {
    background-color: #0C0E0D;
    font-family: 'Gilroy';
    font-weight: normal;
    color: #FFFBDA;
    font-size: 16px;
    border: 1px solid #F2ADF3
}

.join-button {
    background-color: #F2ADF3;
    border: none;
    font-family: 'Gilroy';
    font-weight: normal;
    color: #0C0E0D;
    font-size: 16px;
}
.svg-divider {
    width: 98%;
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
}

.header {

    display: flex;
    justify-content: space-between;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.hamburger-icon {
    font-size: 20px;
    cursor: pointer;
    color: #FFFBDA;
    position: absolute;
    right: 20px;
}

.hamburger-menu {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}


.mobile-menu {
    display: none;
    flex-direction: column;
    position: initial;
    width: 200px;
    height: 200px;
    top: 120px;
    left: 0;
    background-color: #0C0E0D;
    border: 1px solid #565656;
    padding: 10px;
}

.mobile-menu a {
    text-decoration: none;
    font-family: 'Gilroy';
    font-weight: normal;
    color: #908F8F;
    font-size: 16px;
    padding: 10px;
}

.mobile-menu button {
    text-decoration: none;
    font-family: 'Gilroy';
    font-weight: normal;
    margin: 3px 0;
    padding: 10px 20px;
    border-radius: 36px;
    cursor: pointer;
}



.show {
    display: flex;
}




/* Responsive styles */
@media (max-width: 768px) {
    .menu,
    .auth-buttons {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
    .spacer {
        display: none;
    }
    .svg-divider {
        width: 100%;
    }



    
}















/*Section 1*/

.container {
    display: flex;
    width: 100%;
    height: 100%;
    
}

aside.sidebar {
    width: 21%;
    height: 100%;
    background: #0C0E0D;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 18px;
    color: #B9B8B8;
    padding: 10px;
    border-right: 1px solid #565656;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.new-project-item {
    justify-content: space-between;
    padding-right: 40px; /* 40px odstępu po prawej stronie tekstu */
}

.new-project-icon {
    margin-left: 40px; /* 40px odstępu między tekstem a ikoną */
}

.sidebar ul li:hover {
    color: #F2ADF3;
}

.custom-icon {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    cursor: pointer;
}

.spacer {
    height: 20px;
}

.svg-line {
    width: 120%;
}

.svg-add-new-project {
    width: 10px;
    height: 10px;
    padding: 20px;
}

.main-content {
    display: flex;
    width: 78%;
    height: 100%;
}

.project-card {
    display: flex;
}

.column-right {
    width: 77%;
    height: 100%;
    border-right: 1px solid #565656;
    background-color: #0C0E0D;
}

.column {
    border-right: 1px solid #565656;
}

.field {
    display: flex;
    padding: none;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #565656;
}

.field span {
    font-family: 'Gilroy';
    font-weight: 100;
    font-size: 14px;
    padding: none;
   
}

.field input, .field textarea, .field select {
    width: 100%;
  
   
    border: none;
    background-color: #0C0E0D;
    color: #B9B8B8;
    font-family: 'Gilroy';
    font-weight: 100;
    font-size: 16px;
    padding: 20px;
}

.field input:hover, .field textarea:hover, .field select:hover,
.field input:focus, .field textarea:focus, .field select:focus {
    border: 1px solid #F2ADF3; /* Kolor obramowania po najechaniu lub kliknięciu */
    outline: none; /* Usunięcie domyślnego obramowania przeglądarki */
    background-color: #1B1B1B; /* Opcjonalnie zmiana koloru tła po najechaniu lub kliknięciu */
    
}




.date-field {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.field input[type="date"] {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Adjust right padding for the icon */
    border: none;
    background-color: #0C0E0D;
    color: #B9B8B8;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 16px;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* For other browsers */
    position: relative;
}

.field input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; /* Hides the default calendar icon in WebKit browsers */
}

.field input[type="date"]:hover,
.field input[type="date"]:focus {
    border: 1px solid #F2ADF3;
    outline: none;
    background-color: #1B1B1B;
}

.calendar-button {
    position: relative;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.calendar {
    width: 18px; /* Adjust as necessary */
    height: 18px; /* Adjust as necessary */
}




.field textarea {
    height: 130px;
}

.column-right .field {
    justify-content: flex-start;
}





.column-right .field:nth-child(7) .image-upload {
    display: flex;
    gap: 20px;
    align-items: center;
}

.image-upload {
    display: flex;
    gap: 10px;
}

.image-placeholder {
    width: 259px;
    height: 149px;
    background-color: #1B1B1B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #888;
    border: 1px dashed #565656;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.back-button, .save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 36px;
    cursor: pointer;
}

.back-button {
    background-color: #0C0E0D;
    font-family: 'Gilroy';
    font-weight: 300;
    color: #FFFBDA;
    font-size: 16px;
    border: 1px solid #F2ADF3
}

.save-button {
    background-color: #F788CC;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}



.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.image-track {
    display: flex;
    transition: transform 0.5s ease;
}

.image-placeholder {
    min-width: 30%;
    height: 20%px;
    background-color: #1B1B1B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #888;
    border: 1px dashed #565656;
    box-sizing: border-box;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-track {
    display: flex;
    overflow: hidden;
    width: 100%;
}



.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    width: 40px; /* Adjust as necessary */
    height: 40px; /* Adjust as necessary */
    border-radius: 20px; /* Makes the button round */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.carousel-button img {
    width: 50%;
    height: 50%;
    border-radius: 20px; /* Makes the SVG icon round */
}

.carousel-button.prev {
    left: 0; /* Adjust as necessary */
}

.carousel-button.next {
    right: 0; /* Adjust as necessary */
}



@media (max-width: 375px) {
    .container {
        display: flex;
        width: 100%;
    }
    aside.sidebar {
        width: 21%;
        height: 100%;
        background: #0C0E0D;
        font-family: 'Gilroy';
        font-weight: 300;
        font-size: 16px;
        color: #B9B8B8;
        padding: 10px;
        border-right: 1px solid #565656;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }
    .sidebar ul {
        list-style: none;
        padding: 10px;
        margin: 0;
        width: 100%; /* Ensure ul takes full width */
        display: flex;
        flex-direction: column;
        align-items: start; /* Center items horizontally */
    }
    .sidebar ul li {
        display: flex;
        flex-direction: column;
        align-items: start; /* Center items horizontally */
        justify-content: center;
        padding: 10px 0;
        width: 100%; /* Ensure li takes full width */
        text-align: start; /* Center text */
    }
    .custom-icon,
    .svg-add-new-project {
        width: 18px;
        height: 18px;
        margin-bottom: 10px; /* Adjusted margin for better spacing */
        cursor: pointer;
    }
    .spacer {
        height: 20px;
    }
    .svg-line {
        width: 100%; /* Adjust width if necessary */
        margin: 20px 0; /* Added margin for better spacing */
        
    }
    .new-project-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-right: 0; /* Removed right padding */
        
    }
    .sidebar ul li:hover {
        color: #F2ADF3;
    }
}




@media (max-width: 768px) {

    
        .container {
            display: flex;
            width: 100%;
        }
        aside.sidebar {
            width: 21%;
            height: 100%;
            background: #0C0E0D;
            font-family: 'Gilroy';
            font-weight: 300;
            font-size: 16px;
            color: #B9B8B8;
            padding: 10px;
            border-right: 1px solid #565656;
            display: flex;
            flex-direction: column;
            align-items: center; /* Center items horizontally */
        }
        .sidebar ul {
            list-style: none;
            padding: 10px;
            margin: 0;
            width: 100%; /* Ensure ul takes full width */
            display: flex;
            flex-direction: column;
            align-items: start; /* Center items horizontally */
        }
        .sidebar ul li {
            display: flex;
            flex-direction: column;
            align-items: start; /* Center items horizontally */
            justify-content: center;
            padding: 10px 0;
            width: 100%; /* Ensure li takes full width */
            text-align: start; /* Center text */
        }
        .custom-icon,
        .svg-add-new-project {
            width: 18px;
            height: 18px;
            margin-bottom: 10px; /* Adjusted margin for better spacing */
            cursor: pointer;
        }
        .spacer {
            height: 20px;
        }
        .svg-line {
            width: 100%; /* Adjust width if necessary */
            margin: 20px 0; /* Added margin for better spacing */
            
        }
        .new-project-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding-right: 0; /* Removed right padding */
            
        }
        .sidebar ul li:hover {
            color: #F2ADF3;
        }
    }