* {
    box-sizing: border-box;
}

body {
    background-color: #0C0E0D;
    height: 100vh;
    margin: 0;
    position: relative;
}

/* Menu */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0C0E0D;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    color: #FFFBDA;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 42px;
    margin-right: 20px;
}

.menu {
    display: flex;
    gap: 28px;
}

.menu a {
    text-decoration: none;
    font-family: 'Gilroy';
    font-weight: normal;
    color: #908F8F;
    font-size: 20px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 8px 34px;
    border-radius: 36px;
    cursor: pointer;
}

.login-button {
    background-color: #0C0E0D;
    font-family: 'Gilroy';
    font-weight: normal;
    color: #FFFBDA;
    font-size: 16px;
    border: 1px solid #F2ADF3;
}

.join-button {
    background-color: #F2ADF3;
    border: none;
    font-family: 'Gilroy';
    font-weight: normal;
    color: #0C0E0D;
    font-size: 16px;
}
.svg-divider {
    width: 97%;
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.hamburger-icon {
    font-size: 20px;
    cursor: pointer;
    color: #FFFBDA;
    position: absolute;
    right: 20px;
}

.hamburger-menu {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: initial;
    width: 200px;
    height: 200px;
    top: 120px;
    left: 0;
    background-color: #0C0E0D;
    border: 1px solid #565656;
    padding: 10px;
}

.mobile-menu a {
    text-decoration: none;
    font-family: 'Gilroy';
    font-weight: normal;
    color: #908F8F;
    font-size: 16px;
    padding: 10px;
}

.mobile-menu button {
    text-decoration: none;
    font-family: 'Gilroy';
    font-weight: normal;
    margin: 3px 0;
    padding: 10px 20px;
    border-radius: 36px;
    cursor: pointer;
}

.show {
    display: flex;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu,
    .auth-buttons {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
    .spacer {
        display: none;
    }
    .svg-divider {
        width: 100%;
    }
}

/* Section 1 */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

aside.sidebar {
    width: 21%;
    height: 100%;
    background: #0C0E0D;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 18px;
    color: #B9B8B8;
    padding: 10px;
    border-right: 1px solid #565656;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.new-project-item {
    justify-content: space-between;
    padding-right: 40px; /* 40px odstępu po prawej stronie tekstu */
}

.new-project-icon {
    margin-left: 40px; /* 40px odstępu między tekstem a ikoną */
}

.sidebar ul li:hover {
    color: #F2ADF3;
}

.custom-icon {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    cursor: pointer;
}

.spacer {
    height: 20px;
}

.svg-line {
    width: 108%;
}

.main-content {
    width: 79%;
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    border-right: 1px solid #ddd;  /* Dodana linia oddzielająca */
    cursor: grab; /* Add cursor style for dragging */
}

.main-content.active {
    cursor: grabbing; /* Add cursor style for active dragging */
}

.list {
    width: 20%;
    background: #0C0E0D;
    margin: 0 10px;
    padding: 10px;
    flex: 1;
    border-right: 1px solid #565656;  /* Dodana linia oddzielająca */
}

.to-do {
    width: 40%;
}

.list-header {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Gilroy';
    background: #0C0E0D;
    padding-bottom: 5px;
}

.list-header h3 {
    display: flex;
    justify-content: start;
    margin: 0;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 18px;
    color: #B9B8B8;
}

.add-list {
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 30px;
    color: #B9B8B8;
    background: #0C0E0D;
    border: none;
}

.more-options {
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 30px;
    color: #B9B8B8;
    background: #0C0E0D;
    border: none;
}

@media (max-width: 375px) {
    .container {
        display: flex;
        width: 100%;
    }
    aside.sidebar {
        width: 21%;
        height: 100%;
        background: #0C0E0D;
        font-family: 'Gilroy';
        font-weight: 300;
        font-size: 16px;
        color: #B9B8B8;
        padding: 10px;
        border-right: 1px solid #565656;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }
    .sidebar ul {
        list-style: none;
        padding: 10px;
        margin: 0;
        width: 100%; /* Ensure ul takes full width */
        display: flex;
        flex-direction: column;
        align-items: start; /* Center items horizontally */
    }
    .sidebar ul li {
        display: flex;
        flex-direction: column;
        align-items: start; /* Center items horizontally */
        justify-content: center;
        padding: 10px 0;
        width: 100%; /* Ensure li takes full width */
        text-align: start; /* Center text */
    }
    .custom-icon,
    .svg-add-new-project {
        width: 18px;
        height: 18px;
        margin-bottom: 10px; /* Adjusted margin for better spacing */
        cursor: pointer;
    }
    .spacer {
        height: 20px;
    }
    .svg-line {
        width: 100%; /* Adjust width if necessary */
        margin: 20px 0; /* Added margin for better spacing */
    }
    .new-project-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-right: 0; /* Removed right padding */
    }
    .sidebar ul li:hover {
        color: #F2ADF3;
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        width: 100%;
    }
    aside.sidebar {
        width: 21%;
        height: 100%;
        background: #0C0E0D;
        font-family: 'Gilroy';
        font-weight: 300;
        font-size: 16px;
        color: #B9B8B8;
        padding: 10px;
        border-right: 1px solid #565656;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }
    .sidebar ul {
        list-style: none;
        padding: 10px;
        margin: 0;
        width: 100%; /* Ensure ul takes full width */
        display: flex;
        flex-direction: column;
        align-items: start; /* Center items horizontally */
    }
    .sidebar ul li {
        display: flex;
        flex-direction: column;
        align-items: start; /* Center items horizontally */
        justify-content: center;
        padding: 10px 0;
        width: 100%; /* Ensure li takes full width */
        text-align: start; /* Center text */
    }
    .custom-icon,
    .svg-add-new-project {
        width: 18px;
        height: 18px;
        margin-bottom: 10px; /* Adjusted margin for better spacing */
        cursor: pointer;
    }
    .spacer {
        height: 20px;
    }
    .svg-line {
        width: 100%; /* Adjust width if necessary */
        margin: 20px 0; /* Added margin for better spacing */
    }
    .new-project-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-right: 0; /* Removed right padding */
    }
    .sidebar ul li:hover {
        color: #F2ADF3;
    }

    .main-content {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    .list {
        width: 90%;
        min-width: 300px;
    }
}
