* {
  box-sizing: border-box;
}
body {
  background-color: #0C0E0D;
  height: 100vh;
  margin: 0;
  position: relative;
 
}

.background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/path.svg'); /* Path to your SVG file */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  animation: fadeInOut 15s infinite;
  z-index: -1;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}




/*Menu*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0C0E0D;
  
}
  
.left-section {
  display: flex;
  align-items: center;
}
  
.logo {
  color:#FFFBDA;
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 42px;
  margin-right: 20px;
}
.menu {
  display: flex;
  gap: 28px;
}
.menu a {
  text-decoration: none;
  font-family: 'Gilroy';
  font-weight: normal;
  color: #908F8F;
  font-size: 20px;
  
}
.auth-buttons {
  display: flex;
  gap: 10px;
}
.auth-buttons button {
  padding: 8px 34px;
 
  border-radius: 36px;
  cursor: pointer;
  
}
.login-button {
  background-color: #0C0E0D;
  font-family: 'Gilroy';
  font-weight: normal;
  color: #FFFBDA;
  font-size: 16px;
  border: 1px solid #F2ADF3
}

.join-button {
  background-color: #F2ADF3;
  border: none;
  font-family: 'Gilroy';
  font-weight: normal;
  color: #0C0E0D;
  font-size: 16px;
}
.svg-divider {
  width: 97%;
  display: flex;
  margin: 0 auto;
 padding: 0 auto;
}

/* Hamburger Menu */

.hamburger-menu {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header {
 
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.hamburger-icon {
  font-size: 20px;
  cursor: pointer;
  color: #FFFBDA;
  position: absolute;
  right: 20px;
}

.hamburger-menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: initial;
  width: 200px;
  height: 200px;
  top: 120px;
  left: 0;
  background-color: #0C0E0D;
  border: 1px solid #565656;
  padding: 10px;
}

.mobile-menu a {
  text-decoration: none;
  font-family: 'Gilroy';
  font-weight: normal;
  color: #908F8F;
  font-size: 16px;
  padding: 10px;
}

.mobile-menu button {
  text-decoration: none;
  font-family: 'Gilroy';
  font-weight: normal;
  margin: 3px 0;
  padding: 10px 20px;
  border-radius: 36px;
  cursor: pointer;
}

.show {
  display: flex;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu,
  .auth-buttons {
      display: none;
  }

  .hamburger-menu {
      display: block;
  }
  .spacer {
      display: none;
  }
  .svg-divider {
      width: 100%;
  }
}

/*Section 1*/

.Section1 {
  padding: 40px;
  display: flex;
  flex-wrap: wrap; /* Pozwala na zawijanie elementów */
  align-items: center;
  justify-content: center; /* Wyśrodkuj elementy */
  max-width: 1800px; /* Ustaw maksymalną szerokość kontenera */
  
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; /* Resetuje domyślny margines */
  margin-bottom: 15px; /* Ustawia odstęp między h1 i h2 */
}

.make-goal, .make-goal2, .make-goal3, .make-goal4, .make-goal5, .make-goal6 {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 80px;
  display: flex;
  flex: 1;
  white-space: nowrap; /* Zapobiega łamaniu tekstu na nowe linie */
  justify-content: center; /* Wyśrodkuj elementy w ich kontenerze */
 
}


.make-goal__heading-text, .make-goal2__heading-text, .make-goal3__heading-text, .make-goal4__heading-text, .make-goal5__heading-text, .make-goal6__heading-text {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 80px;
  color: #FFFBDA;
  display: flex;
  white-space: nowrap; /* Zapobiega łamaniu tekstu na nowe linie */
}

.make-goal {
  color: #F788CC; /* Zmiana koloru tekstu */
}

.make-goal2 {
  color: #F2ADF3; /* Zmiana koloru tekstu */
}

.make-goal3 {
  color: #F788CC; /* Zmiana koloru tekstu */
}

.make-goal4 {
  color: #F788CC; /* Zmiana koloru tekstu */
}

.make-goal5 {
  color: #FC7309; /* Zmiana koloru tekstu */
}

.make-goal6 {
  color: #816AD3; /* Zmiana koloru tekstu */
}

.make-goal7__heading-text {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 28px;
  color: #FFFBDA;
  display: flex;
  justify-content: center;
  
}


.window {
  padding: 40px;
  display: flex;
  justify-content: center; /* Wyśrodkuj elementy */
  
 

}

.svg-window1, .svg-window2, .svg-window3 {
  margin: 10px;
 
}


.svg-window1 {
  display: flex;
  align-items: center;
  max-width: 360px
 
}

.svg-window1 { 
  animation: floatUpDown 3s infinite alternate;
  animation-delay: 3s; 
}
.svg-window2 {
  display: flex;
  align-items: center;
  max-width: 360px
   
}

.svg-window2 {
  animation: floatUpDownOpposite 2s infinite alternate;
}

.svg-window3 {
  display: flex;
  align-items: center;
  max-width: 360px
}

.svg-window3 {
  animation: floatUpDown 3s infinite alternate;
  animation-delay: 3s;
}

@keyframes floatUpDown {
  from {
      transform: translateY(0);
  }
  to {
      transform: translateY(-30px);
  }
}

  @keyframes floatUpDownOpposite {
      from {
          transform: translateY(0);
      }
      to {
          transform: translateY(-30px);
      }
  
}







.next-section {
  margin-top: 10px; /* Odstęp od góry do innych elementów */
  display: flex;
  margin-left: 10px;
  justify-content: end;
  align-content: center;
  flex: wrap;

}

.svg-button {
  background: none; /* Brak tła */
  border: none; /* Brak obramowania */
  cursor: pointer;
  size: 20px;

}

/*Section 2*/

.Section2 {
  padding: 130px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 600px;
  float: left;
}
h8,h9 {

  margin-top: 0; /* Resetuje domyślny margines */
  margin-bottom: 25px; /* Ustawia odstęp między h1 i h2 */
  word-wrap: break-word;
}
.tasks__heading-text {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -1px;/* Przestrzeń pomiędzy literami */
  color: #FFFBDA;
  display: flex;
  justify-content: flex-start;
  text-align: flex-start; /* Wyśrodkowanie tekstu */
  white-space: nowrap;
}

.tasks2__heading-text {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #FFFBDA;
  display: flex;
  justify-content: flex-start;
  text-align: flex-start;
  max-width: 1200px;
  word-wrap: break-word;
}


.Section2image {
  padding: 50px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  max-width: 600px;

}
 

.svg-image1 {
  
  display: flex;
  justify-content: flex-end;
  position: absolute;
          z-index: 2;
          left: 60%;
          bottom: 70%;
          animation: slideInFromLeft 1s forwards, moveSideToSide 2s infinite 2s;
}
@keyframes slideInFromLeft {
  from {
      left: -100%;
      opacity: 0;
  }
  to {
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
      top: -50%;
  }
  to {
      top: 100%;
      transform: translateY(-50%);
  }
}
@keyframes slideInRight {
  from {
      right: -50%;
  }
  to {
      right: 50%;
      transform: translateY(-50%);
  }
}

@keyframes moveSideToSide {
  100% {
      transform: translateX(-10%) translateY(-10%);
  }
 
}
.svg-image3 {
  
  display: flex;
  justify-content: flex-end;
  margin-right: -150px;
  position: relative;
          z-index: 1;
          animation: slideInFromRight 1s forwards, moveSideToSide 2s infinite 2s;
}

.svg-set-priority-green {
  display: flex;
  justify-content: flex-end;
  position: absolute;
          z-index: 2;
          right: 80%;
          bottom: 80%;
}

.svg-set-priority-yellow {
  display: flex;
  justify-content: flex-end;
  position: absolute;
          z-index: 2;
          right: 70%;
          bottom: 60%;
}


.svg-set-priority-red {
  display: flex;
  justify-content: flex-end;
  position: absolute;
          z-index: 2;
          right: 90%;
          bottom: 50%;
}


.svg-set-priority-green {
  animation: flyInFromTop 0.5s forwards;
  
}

.svg-set-priority-yellow {
  animation: flyInFromRight 0.5s forwards 0.6s;
}

.svg-set-priority-red {
  animation: flyInFromLeft 0.5s forwards 1.2s;
}

@keyframes flyInFromTop {
  from {
      top: -100%;
      opacity: 0;
  }
  to {
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
  }
}
  @keyframes flyInFromRight {
      from {
          right: -100%;
          opacity: 0;
      }
      to {
          right: 40%;
          transform: translateY(-50%);
          opacity: 1;
      }
  }
      @keyframes flyInFromLeft {
          from {
              left: -50%;
              opacity: 0;
          }
          to {
              left: 20%;
              transform: translateY(-50%);
              opacity: 1;
          }
}




.svg-image5 {
  display: flex;
  justify-content: flex-end;
  max-width: 65%;
  margin-top: 40px;
  margin-right: -150px;
  position: absolute;
          z-index: 2;
          right: 5%;
          bottom: 70%;
          

}


/*Section 3*/

.Section3 {
  padding: 20px;
  display: flex;
  justify-content: center;
 
  flex-wrap: wrap;
  

}


h10, h11, h12 {
  margin-top: 0; /* Resetuje domyślny margines */
  margin-bottom: 10px;
  word-wrap: break-word;
}
.calendar__heading-text  {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 48px;
  color: #FFFBDA;
  letter-spacing: -4px;/* Przestrzeń pomiędzy literami */
  
}

.calendar2__heading-text {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 24px;
  line-height: 37px;
  color: #FFFBDA;

 

}
.calendar3__heading-text {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 24px;
  line-height: 37px;
  color: #FFFBDA;

  word-wrap: break-word;
}

.calendar-image {
display: flex;
justify-content: center;
align-items: center;
  
}
.svg-calendar-image {
  width: 80%; 
  margin-top: 30px;
}

.Section4 {
  padding: 130px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  max-width: 600px;
  float: right;
}
h13, h14 {
  margin-top: 0; /* Resetuje domyślny margines */
  margin-bottom: 25px; /* Ustawia odstęp między h1 i h2 */
  word-wrap: break-word;

}
.correction_heading-text  {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -1px;/* Przestrzeń pomiędzy literami */
  color: #FFFBDA;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end; /* Wyśrodkowanie tekstu */
  white-space: nowrap;
}

.correction-point2__heading-text {
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #FFFBDA;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  max-width: 1200px;
  word-wrap: break-word;

}

.Section4image {
  padding: 50px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: flex-start;
  max-width: 600px;

}
.svg-correction-point-image {
display: flex;
justify-content: flex-start;
margin-right: -150px;
position: relative;
      z-index: 1;
  
}

.svg-correction-point-image2 {
  display: flex;
  justify-content: flex-start;
  position: absolute;
          z-index: 2;
          left: 30%;
          bottom: 70%;

}

.svg-correction-point-image3 {
  display: flex;
  justify-content: flex-start;
  position: absolute;
          z-index: 2;
          left: 60%;
          bottom: 70%;
}







.footer {
  padding: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: start;

  
}
.footer-section1-links1 {
 
   font-family: 'Gilroy';
   font-weight: 600;
   font-size: 24px;
   color: #F788CC;
   margin: 30px;    
}

.footer-section2-links2 {
   
   font-family: 'Gilroy';
   font-weight: 600;
  
   font-size: 24px;
   color: #FC7309;
   margin: 30px;
   
}

.footer-section3-links3 {
   font-family: 'Gilroy';
   font-weight: 600;
   font-size: 24px;
   color: #816AD3;
   margin: 30px;
   
   
}


.subscription-box {
   font-family: 'Gilroy';
   font-weight: 600;
   font-size: 38px;
   color: #F2ADF3;
   margin: 30px;
  
}

.subscription-box p {
   font-size: 16px;
   color: #666;
   margin-bottom: 20px; 
   font-family: 'Gilroy';
   font-weight: 300;
   font-size: 22px;
   color: #B9B8B8;
   display: inline-block;
   vertical-align: baseline; /* Dostosowanie do środka linii */
}

.input-with-button {
   position: relative;
   width: 100%;
   max-width: 400px; /* You can adjust this value */
}

.input-with-button input[type="email"] {
   width: 100%;
   padding: 10px 60px 10px 20px; /* Adjust padding to make space for the button */
   border: 1px solid #707070;
   background-color: transparent;
   border-radius: 48px;
   font-family: 'Gilroy';
   font-weight: 300;
   
   color: #B9B8B8;
   
   margin: 0;
   font-size: 21px;
}

.input-with-button .svg-button {
   position: absolute;
   left: 88%;
   top: 55%;
   transform: translateY(-50%);
   background: none;
   border: none;
   cursor: pointer;
}

.input-with-button .svg-icon {
   width: 26px;
   height: auto;
}


.footer-links-list {
   color: #B9B8B8;
   padding: 0px;
    margin: 0px;


}
.h15, .h16, .h17, {
   margin-bottom: 20px;
}


.footer-links-list li {
   list-style: none; /* Usuwa punkty listy */
    margin-bottom: 10px;
}


.footer-link {
   text-decoration: none; /* Usuwa podkreślenie */
   color: #B9B8B8; /* Kolor linków */
   transition: color 0.3s;
  
}

.footer-link:hover {
   color: #816AD3;
}
/* Specific styling for each link */
#workflow, #teamline, #pain-points,
#monthl-plans, #resources,
#facebook, #instagram, #tweeter {
   font-family: 'Gilroy';
   font-weight: 300;
   font-size: 18px;
 
}








/* Tablet view */
@media (max-width: 768px) {
  /* General styles for horizontal scrolling */


  .window {
      display: flex;
      flex-direction: row-reverse;
      align-content: flex-start;
      justify-content: flex-start;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .window {
      min-width: 50vw;
      scroll-snap-align: start;
  }

    
  .Section2 {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: column;
      max-width: 600px;
      float: left;
  }


  h8,h9 {

      margin-top: 0; /* Resetuje domyślny margines */
      margin-bottom: 25px; /* Ustawia odstęp między h1 i h2 */
      word-wrap: break-word;
  }
  .tasks__heading-text {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: 48px;
      letter-spacing: -1px;/* Przestrzeń pomiędzy literami */
      color: #FFFBDA;
      display: flex;
      justify-content: flex-start;
      text-align: flex-start; /* Wyśrodkowanie tekstu */
      white-space: nowrap;
  }
  
  .tasks2__heading-text {
      font-family: 'Gilroy';
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      color: #FFFBDA;
      display: flex;
      justify-content: flex-start;
      text-align: flex-start;
      max-width: 1200px;
      word-wrap: break-word;
  }
  
  
  .Section2image {
      padding: 20px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      text-align: flex-end;
      max-width: 600px;
    
  }
  

  .Section3 {
      padding: 20px;
      display: flex;
      justify-content: start;
     
      flex-wrap: wrap;
      
  
  }
  
  
  h10, h11, h12 {
      margin-top: 0; /* Resetuje domyślny margines */
      margin-bottom: 10px;
      word-wrap: break-word;
  }
  .calendar__heading-text  {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: 48px;
      color: #FFFBDA;
      letter-spacing: -4px;/* Przestrzeń pomiędzy literami */
      
  }
  
  .calendar2__heading-text {
      font-family: 'Gilroy';
      font-weight: 300;
      font-size: 20px;
      line-height: 37px;
      color: #FFFBDA;
    
     
  
  }
  .calendar3__heading-text {
      font-family: 'Gilroy';
      font-weight: 300;
      font-size: 20px;
      line-height: 37px;
      color: #FFFBDA;
    
      word-wrap: break-word;
  }
  
  .calendar-image {
  display: flex;
  justify-content: center;
  align-items: center;
      
  }
  .svg-calendar-image {
      width: 95%; 
  }

  .Section4 {
      padding: 20px;
      display: flex;
      justify-content: start;
  }

  .Section4image {
      padding: 20px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      text-align: flex-start;
     
  
  }
  .svg-correction-point-image {
  display: flex;
  justify-content: flex-start;
 
  position: relative;
          z-index: 1;
      overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.svg-correction-point-image {
  min-width: 50vw;
  scroll-snap-align: start;
}
  
  .svg-correction-point-image2 {
      display: flex;
      justify-content: flex-start;
      position: absolute;
              z-index: 2;
              left: 15%;
              bottom: 50%;
  
  }
  
  .svg-correction-point-image3 {
      display: flex;
      justify-content: flex-start;
      position: absolute;
              z-index: 2;
              left: 60%;
              bottom: 70%;
  }






  .footer {
      flex-direction: column;
      align-items: start;
      flex-direction: row;
      justify-content: flex-start;
      padding: 10px;
     margin-bottom: 10px;
    flex-wrap: wrap;
  }
  .footer-section1-links1 {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: 24px;
      color: #F788CC;
      margin: 15px;
  }
  .footer-section2-links2 {
  
      font-family: 'Gilroy';
      font-weight: 600;
     
      font-size: 24px;
      color: #FC7309;
      margin: 15px;
      
  }
  
  .footer-section3-links3 {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: 24px;
      color: #816AD3;
      margin: 15px;
      
      
  }


  .footer-section1, .footer-section2, .footer-section3 {
    
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;  
  }

  .subscription-box {
      width: 100%;
      margin-top: 0;
      text-align: center;
  }
}







/* Mobile view */
@media (max-width: 375px) {
  /* General styles for horizontal scrolling */
 
 
  .window {
      display: flex;
      flex-direction: row-reverse;
      align-content: flex-start;
      justify-content: flex-start;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .window {
      min-width: 50vw;
      scroll-snap-align: start;
  }

    
  .Section2 {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: column;
      max-width: 600px;
      float: left;
  }


  h8,h9 {

      margin-top: 0; /* Resetuje domyślny margines */
      margin-bottom: 25px; /* Ustawia odstęp między h1 i h2 */
      word-wrap: break-word;
  }
  .tasks__heading-text {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: 48px;
      letter-spacing: -1px;/* Przestrzeń pomiędzy literami */
      color: #FFFBDA;
      display: flex;
      justify-content: flex-start;
      text-align: flex-start; /* Wyśrodkowanie tekstu */
      white-space: nowrap;
  }
  
  .tasks2__heading-text {
      font-family: 'Gilroy';
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      color: #FFFBDA;
      display: flex;
      justify-content: flex-start;
      text-align: flex-start;
      max-width: 1200px;
      word-wrap: break-word;
  }
  
  
  .Section2image {
      padding: 10%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      text-align: flex-end;
      max-width: 600px;
    
  }
  

  .Section3 {
      padding: 20px;
      display: flex;
      justify-content: start;
     
      flex-wrap: wrap;
      
  
  }
  
  
  h10, h11, h12 {
      margin-top: 0; /* Resetuje domyślny margines */
      margin-bottom: 10px;
      word-wrap: break-word;
  }
  .calendar__heading-text  {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: 48px;
      color: #FFFBDA;
      letter-spacing: -4px;/* Przestrzeń pomiędzy literami */
      
  }
  
  .calendar2__heading-text {
      font-family: 'Gilroy';
      font-weight: 300;
      font-size: 20px;
      line-height: 37px;
      color: #FFFBDA;
    
     
  
  }
  .calendar3__heading-text {
      font-family: 'Gilroy';
      font-weight: 300;
      font-size: 20px;
      line-height: 37px;
      color: #FFFBDA;
    
      word-wrap: break-word;
  }
  
  .calendar-image {
  display: flex;
  justify-content: center;
  align-items: center;
      
  }
  .svg-calendar-image {
      width: 95%; 
  }

  .Section4 {
      padding: 20px;
  }

  .Section4image {
      padding: 20px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      text-align: flex-start;
      max-width: 600px;
  
  }
  .svg-correction-point-image {
  display: flex;
  justify-content: flex-start;
 
  position: relative;
          z-index: 1;
      overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.svg-correction-point-image {
  min-width: 50vw;
  scroll-snap-align: start;
}
  
  .svg-correction-point-image2 {
      display: flex;
      justify-content: flex-start;
      position: absolute;
              z-index: 2;
              left: 15%;
              bottom: 50%;
  
  }
  
  .svg-correction-point-image3 {
      display: flex;
      justify-content: flex-start;
      position: absolute;
              z-index: 2;
              left: 60%;
              bottom: 70%;
  }






  .footer {
      flex-direction: column;
      align-items: start;
      flex-direction: row;
      justify-content: flex-start;
      padding: 10px;
     margin-bottom: 10px;
    flex-wrap: wrap;
  }
  .footer-section1-links1 {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: 24px;
      color: #F788CC;
      margin: 15px;
  }
  .footer-section2-links2 {
  
      font-family: 'Gilroy';
      font-weight: 600;
     
      font-size: 24px;
      color: #FC7309;
      margin: 15px;
      
  }
  
  .footer-section3-links3 {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: 24px;
      color: #816AD3;
      margin: 15px;
      
      
  }


  .footer-section1, .footer-section2, .footer-section3 {
    
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;  
  }

  .subscription-box {
      width: 100%;
      margin-top: 0;
      text-align: center;
  }
}
